@model ActionItem

@{
ViewData["Title"] = "Tasks";
}

@section Stylesheets {
<link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
}

<div class="content mb-5">
    <div class="pb-9 card">
        <div class="card-header">
            <div class="row align-items-center justify-content-between g-3">
                <div class="col-12 col-md-auto">
                    <h4 class="mb-0">Task details</h4>
                </div>
                <div class="col-12 col-md-auto d-flex">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm btn-phoenix-primary" data-bs-toggle="modal" data-bs-target="#saveSubtaskModal">
                            <span class="fa-solid fa-plus me-sm-2"></span>Subtask
                        </button>
                        <button type="button" class="btn btn-sm btn-phoenix-info" data-bs-toggle="tooltip" data-bs-title="Edit task">
                            <span class="fa-solid fa-edit me-sm-2"></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-phoenix-danger" data-bs-toggle="tooltip" data-bs-title="Delete task">
                            <span class="fa-solid fa-trash me-sm-2"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row g-4 g-xl-6">
                <div class="col-xl-5 col-xxl-4 border-end">
                    <div class="sticky-leads-sidebar">
                        <div class="row align-items-center g-3 mb-3 border-2 border-dashed pb-4 border-bottom">
                            <div class="col-12 col-sm-auto flex-1">
                                <h3 class="fw-bolder mb-2 line-clamp-1">@Model.Name</h3>
                                <div class="d-flex align-items-center mb-4">
                                    <h5 class="fw-semi-bold">
                                        <span class="d-inline-block lh-sm me-1 fa fa-users" style="height:16px;width:16px;"></span>
                                        <span class="d-inline-block lh-sm">@Model.Team!.Name</span>
                                    </h5>
                                </div>
                                <div class="d-md-flex d-xl-block align-items-center justify-content-between mb-5">
                                    <div class="d-flex align-items-center mb-3 mb-md-0 mb-xl-3">
                                        <div class="avatar avatar-xl me-3">
                                            <img class="rounded-circle"
                                                src="~/assets/img/team/72x72/58.webp" alt="" />
                                        </div>
                                        <div>
                                            <h5>Ansolo Lazinatov</h5>
                                            <div class="dropdown">
                                                <a class="text-800 dropdown-toggle text-decoration-none dropdown-caret-none"
                                                    href="#!" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Team Lead<span class="fa-solid fa-caret-down text-800 fs--1 ms-2"></span>
                                                </a>
                                                <div class="dropdown-menu shadow-sm" style="min-width:20rem">
                                                    <div class="card position-relative border-0">
                                                        <div class="card-body p-0">
                                                            <div class="mx-3">
                                                                <h4 class="mb-3 fw-bold">Switch Leadership</h4>
                                                                <h5 class="mb-3">Participants</h5>
                                                                <select class="form-select mb-3"
                                                                    aria-label="Default select">
                                                                    <option selected="selected">Select</option>
                                                                    <option value="1">Jerry Seinfield</option>
                                                                    <option value="2">Anthoney Michael</option>
                                                                    <option value="3">Ansolo Lazinatov</option>
                                                                </select>
                                                                <div class="text-end">
                                                                    <button class="btn btn-link text-danger"
                                                                        type="button">Cancel</button>
                                                                    <button class="btn btn-sm btn-primary px-5"
                                                                        type="button">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-3">
                                        <p>
                                            <strong>Status: </strong> 
                                            <span id="task-status">@Model.Status.GetEnumDescription()</span>
                                        </p>
                                        <div id="action-buttons" data-task-actions="@Model.Id">
                                            @if(Model.Status == ProgressStatus.Draft)
                                            {
                                                <button type="button" id="start-button" data-start-action="@Model.Id" class="btn btn-sm btn-phoenix-primary">
                                                    <i class="fa-solid fa-play"></i> Start
                                                </button>
                                            }
                                            else if(Model.Status == ProgressStatus.InProgress)
                                            {
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" id="complete-button" data-complete-action="@Model.Id" class="btn btn-sm btn-phoenix-success">
                                                        <i class="fa-solid fa-check"></i> Complete
                                                    </button>
                                                    <button type="button" id="postpone-button" data-postpone-action="@Model.Id" class="btn btn-sm btn-phoenix-danger">
                                                        <i class="fa-solid fa-pause"></i> Postpone
                                                    </button>
                                                </div>
                                            }
                                            else if(Model.Status == ProgressStatus.Postponed)
                                            {
                                                <button type="button" id="restart-button" data-restart-action="@Model.Id" class="btn btn-sm btn-phoenix-info">
                                                    <i class="fa-solid fa-arrows-rotate"></i> Restart
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-sm btn-phoenix-secondary" disabled>
                                                    <i class="fa-solid fa-ban"></i> Closed
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="progress mb-2" style="height:5px">
                                    <div class="progress-bar bg-primary-200" role="progressbar" style="width: 40%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <p class="mb-0"> Deadline</p>
                                    <div>
                                        <span class="d-inline-block lh-sm me-1" data-feather="clock"
                                            style="height:16px;width:16px;"></span>
                                        <span class="d-inline-block lh-sm"> @Model.Deadline.ToString("MMM dd, yyyy hh:mm tt")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h4 class="mb-5">Team Members</h4>
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="mb-4">
                                        @await Component.InvokeAsync("TeamMemberGrid", new { teamId = Model.TeamId })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-7 col-xxl-8">
                    @await Html.PartialAsync("Tasks/_TaskTabs")
                </div>
            </div>
        </div>   
    </div>
    <partial name="_Footer" />
</div>

@await Component.InvokeAsync("SaveSubtask", new { projectId = Model.ProjectId, teamId = Model.TeamId, parentId = Model.Id })
<partial name="Tasks/_ChatModal" />
@await Component.InvokeAsync("EditSubtask")

@section ProjectNav {
@await Html.PartialAsync("Projects/_ProjectNav", Model.Team!.ProjectId)
}

@section VendorScripts {
    <script src="~/vendors/glightbox/glightbox.min.js"></script>
    <script src="https://unpkg.com/picmo@5.7.6/dist/umd/index.js"></script>
    <script src="https://unpkg.com/@@picmo/popup-picker@5.7.6/dist/umd/index.js"></script>
    <script src="~/vendors/lottie/lottie.min.js"></script>
}

@section CustomScripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/js/app.js"></script>
<script src="~/js/tasks.js"></script>
<script>
    $(document).ready(() => {
        $.validator.unobtrusive.parse($("#subtask-form"));
        $.validator.unobtrusive.parse($("#edit-subtask-form"));
        saveSubtask();
        completeSubtask();
        getActionItem();
        startAction();
        postponeAction();
        restartAction();
        completeAction();
        updateSubtask();
    });
</script>
}