@model Position

<div class="py-3 border-bottom border-dashed">
    <div class="d-flex flex-between-center">
        <p class="text-warning fs--2 mb-0 fw-bold mb-1 text-uppercase">Posted on: @Model.Created.ToString("MMM dd, yyyy")</p>
        <div class="btn-reveal-trigger">
            <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none d-flex btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                <span class="fas fa-ellipsis-h"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-end py-2">
                <a class="dropdown-item" href="#!">Edit</a>
                <a class="dropdown-item text-danger" href="#!">Delete</a>
                <a class="dropdown-item" href="#!">Download</a>
                <a class="dropdown-item" href="#!">Report abuse</a>
            </div>
        </div>
    </div>
    <a class="hover-primary text-1000 fw-bold mb-2 line-clamp-1 me-5 lh-base" href="#!" data-position="@Model.Id">
        @Model.Title
    </a>
    <p class="mb-2">@Model.Details.Truncate(200)</p>
    
    <p class="fs--2 text-600">64 people applied</p>
    <div class="d-flex flex-between-center">
        <p class="fs--1 text-700 fw-bold mb-0">
            <span class="fa-solid fa-list-check text-800 me-1"></span>
            <a href="#!">@Model.Project!.Name</a>
        </p>
        <p class="fs--1 text-700 fw-bold mb-0">
            <span class="fa-solid fa-map-marker-alt text-800 me-1"></span>
            @Model.Project.City!.Name, @Model.Project.City.State!.Code
        </p>
    </div>
</div>